<div class='container'>
  <mat-card *ngIf="hide">
    <mat-card-content>
      <div class="form-supercontainer">
        <form>
          <div class="form-container">
            <mat-form-field>
              <input #testid matInput type="text" placeholder="Test Name" name="id" ngModel required>
            </mat-form-field>
            <button (click)="updateID()" type="submit" color=primary mat-stroked-button>Submit</button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class='container'>
    <app-student-questions #child [dynamicdata]="dynamicdata"></app-student-questions>
</div>
