<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
  <div class="form-supercontainer">
  <form>
    <div class="form-container">
    <mat-form-field>
      <input matInput type="text" placeholder="Username" name="uname">
    </mat-form-field>
    </div>
    <div class="form-container">
    <mat-form-field>
      <input matInput type="password" placeholder="Password" name="pass">
    </mat-form-field>
    </div>
    <div class="form-container">
    <mat-radio-group>
      <mat-radio-button>Teacher</mat-radio-button>
      <mat-radio-button>Student</mat-radio-button>
    </mat-radio-group>
    </div>
  </form>
  </div>
  <button color=primary mat-stroked-button>Submit</button>
  </mat-card-content>
</mat-card>
