<meta name="viewport" content="width=device-width, initial-scale=1">
<mat-card>
  <mat-card-title>Add a new Question</mat-card-title>
  <form>
    <mat-form-field>
      <textarea #statement matInput placeholder="Question Statement" name="statement"></textarea>
    </mat-form-field><br />
    <div class="form-supercontainer">
      <div class="form-container">
        <mat-form-field>
          <input #option1 matInput placeholder="Option 1" name="Option-0" />
        </mat-form-field>
      </div>
      <div class="form-container">
        <mat-form-field>
          <input #option2 matInput placeholder="Option 2" name="Option-1" />
        </mat-form-field>
      </div>
      <div class="form-container">
        <mat-form-field>
          <input #option3 matInput placeholder="Option 3" name="Option-2" />
        </mat-form-field>
      </div>
      <div class="form-container">
        <mat-form-field>
          <input #option4 matInput placeholder="Option 4" name="Option-3" />
        </mat-form-field>
      </div>
      <div class="form-container">
        <mat-form-field>
          <input #correct matInput placeholder="Correct Answer" name="Correct" />
        </mat-form-field>
      </div>
    </div>
    <button (click)="onCreateQuestion()" color=primary mat-stroked-button>Submit</button>
  </form>
</mat-card>
