<div class='container'>
  <mat-card>
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
    <div class="form-supercontainer">
    <form>
      <div class="form-container">
      <mat-form-field>
        <input matInput type="text" placeholder="First Name" name="fname">
      </mat-form-field>
      </div>
      <div class="form-container">
        <mat-form-field>
          <input matInput type="text" placeholder="Last Name" name="lname">
        </mat-form-field>
        </div>
      <div class="form-container">
        <mat-form-field>
          <input matInput type="email" placeholder="E-mail" name="email">
        </mat-form-field>
      </div>
      <div class="form-container">
      <mat-form-field>
        <input matInput type="password" placeholder="Password" name="pass">
      </mat-form-field>
      </div>
      <div class="form-container">
        <mat-form-field>
          <input matInput type="password" placeholder="Confirm Password" name="cpass">
        </mat-form-field>
      </div>
      <div class="form-container">
      <mat-radio-group>
        <mat-radio-button value='Teacher'>Teacher</mat-radio-button>
        <mat-radio-button value='Student'>Student</mat-radio-button>
      </mat-radio-group>
      </div>
    </form>
    </div>
    <button color=primary mat-stroked-button>Register</button>
    </mat-card-content>
  </mat-card>
  </div>
